@inherits LayoutComponentBase

<header>
    <a href="/" title="Return to the homepage" id="logo">
        <img id="logo" src="images/logo.png" alt="Your logo" />
    </a>
</header>
<main>
@Body
</main>
<footer>
    For Your Organics, Co.
</footer>